<h1 class="text-center mt-5">Register</h1>
<div class="row ">
   <div class="col-4 offset-4 border border-dark rounded p-3 mt-3">
      <form action="/user/register" method="post">
         <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email address" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" name="username" placeholder="User Name" required>
         </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
         </div>
         <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" name="confirm" placeholder="Confirm password" required>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
</div>