.mainContent {
  margin-top: 5%;
  color: white;
}

h1 {
  padding-bottom: 20px;
}

.table thead {
  background: var(--primary-color);
  font-weight: bold;
}

.btn-basic {
  background: var(--primary-color);
}
