
<div class="row ">
   <div class="col-4 offset-4 p-3 mt-3 text-center">
      <h1 class="mt-5">Welcome</h1>
      <a href="/user/login" class="btn btn-primary">Login</a>
      <a href="/user/register" class="btn btn-secondary">Register</a>
   </div>
</div>

