.form-container {
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #402626;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	place-items: center center;
	overflow: hidden;
	width: 568px;
	max-width: 100%;
	min-height: 480px;
}

h2 {
	color: #fff;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 50%;
	/* width: 50%; */
	text-align: center;
}

input {
	background-color: rgb(241, 224, 224);
	border-radius: 10px;
	padding: 10px 10px;
	margin: 8px 0;
	outline: none;
	width: 100%;
}

a {
	color: #885a5a;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #ff4b2b;
	background-color: #ff4b2b;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	outline: none;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover {
	background-color: rgb(231, 43, 9);
	border: 1px solid rgb(231, 43, 9);
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}
