.book-list > h2 {
  border-bottom: 3px solid black;
}

.book-list > ul {
  list-style-type: none;
}

.book-list > ul > li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.book-list > ul > li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  /* width: 400px; */

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.book-list > ul > li a:hover {
  font-size: 30px;
}

.add-book > h2,
.book-list > h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
}

.form-group label {
  color: white
}

.form-group {
	width: 100%;
}