/* VARIABLES */
:root {
  --primary-color: lightgray; 
  --link-color: black;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/background.jpg') center;
  background-size: cover;  
}
