/* VARIABLES */
:root {
  --primary-color: lightgray; 
  --link-color: black;
}

html {
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  background: url(https://images.unsplash.com/photo-1510172951991-856a654063f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e274a5d7028b3221db5de6cf0b39db6c&auto=format&fit=crop&w=1234&q=80);
  background-position: center;
  background-size: cover;  
}
